#darkGreyPane {
    -fx-background-color: #343434;
}

#paleGreyPane {
    -fx-background-color: #3E3E3E;
}

#whiteText {
    -fx-fill: white;
}

#greenButton {
    -fx-background-color: #1BFF89;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-padding: 5px;
}

#greenButton:hover {
    -fx-background-color: #17E675; /* Darker green on hover */
}

#purpleButton {
    -fx-background-color: #D91BFF;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-padding: 5px;
}

#purpleButton:hover {
    -fx-background-color: #C617E6; /* Darker purple on hover */
}

#headerPane {
    -fx-background-color: #232323;
}

#background {
    -fx-background-color: #000000;
}

/* Delete button - Red */
#deleteButton {
    -fx-background-color: #FF4D4D; /* Red */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 5px;
}

#deleteButton:hover {
    -fx-background-color: #E63939; /* Darker red on hover */
}

/* Update button - Blue */
#updateButton {
    -fx-background-color: #4D79FF; /* Blue */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 5px;
}

#updateButton:hover {
    -fx-background-color: #3959E6; /* Darker blue on hover */
}
